.subsubmenu__root {
    display: block;
    position: absolute;
    z-index: 1000;
    ul {
        list-style: none;
    }
    li {
        display: block;
    }
    nav ul li:hover {
        background: none !important;
    }
}