// for all content
$primary: #fff;
$secondary: #000;
$secondary2: #ff8b45;
//color for text
$text_primary: #ff8b45;
$text_secondary1: #fff;
$text_secondary: #000;
$text_tertiary: #757167;
//color for button
$button_primary: #ff8b45;
$button_secondary: #000;
$button_tertiary: #fff;
// plane background color
$bg_color0: #fff;
$bg_color1: #fafafa;
$bg_color2: #eaeaea;
$bg_color3: #999;
$bg_color4: #888;
$bg_color5: #666;
$bg_color6: #444;
$bg_color7: #333;
$bg_color8: #111;
$bg_color9: #000;